@use '../../../styles/mixin' as mixin;

.create {
  min-width: 110px;
  min-height: 110px;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 50%;
  outline: none;

  &.read {
    background-color: mixin.$secondaryColor;
    border: 3px solid mixin.$secondaryColor;
  }

  &.want {
    background-color: mixin.$ternaryColor;
    border: 3px solid mixin.$ternaryColor;
  }

  &:hover,
  &:focus {
    background-color: mixin.$bgColor;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: mixin.$disabledColor;
    border: 3px solid mixin.$disabledColor;
  }
}
