@use '../../../styles/mixin' as mixin;

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  align-items: center;
  min-height: 24px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  color: mixin.$whiteColor;
  background-color: mixin.$primaryColor;
  border-radius: 3px;
}
