@use '../../../styles/mixin' as mixin;

.toggle {
  width: 22px;
  height: 22px;
  margin-left: 10px;

  &.open {
    background: url('/icon/circle-plus.svg');
  }

  &.close {
    background: url('/icon/circle-minus.svg');
  }
}
