@use '../../../styles/mixin' as mixin;

.root {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  > span {
    font-size: mixin.rem(18);
    font-weight: bold;
  }

  > button {
    padding: 0 5px;
    color: mixin.$whiteColor;
    background-color: mixin.$primaryColor;
    border: 2px solid mixin.$primaryColor;
    border-radius: 3px;

    &.selected {
      text-decoration: underline;
    }

    &:hover,
    &:focus {
      color: mixin.$primaryColor;
      background-color: mixin.$whiteColor;
    }
  }
}
