@use '../../../styles/mixin' as mixin;

.reaction {
  min-width: 90px;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 3px;
  outline: none;

  &.read {
    background-color: mixin.$secondaryColor;
    border: 3px solid mixin.$secondaryColor;
  }

  &.want {
    background-color: mixin.$ternaryColor;
    border: 3px solid mixin.$ternaryColor;
  }

  &.stock {
    background-color: mixin.$quaternaryColor;
    border: 3px solid mixin.$quaternaryColor;
  }

  &.reacted {
    background-color: mixin.$reactedColor;
    border: 3px solid mixin.$reactedColor;
  }

  &:hover,
  &:focus {
    background-color: mixin.$bgColor;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
