@use '../../../styles/mixin' as mixin;

.root {
  margin-top: 15px;
}

.wrapper {
  display: flex;
  align-items: center;
  background-color: mixin.$whiteColor;
  border: 1px solid mixin.$mainTextColor;
  border-radius: 3px;

  &:focus-within {
    border: 1px solid mixin.$primaryColor;
  }

  &::before {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    content: "";
    background-image: url("/icon/search.svg");
  }
}

.input {
  width: 100%;
  padding: 5px 8px;
  font-size: mixin.rem(18);
  background-color: transparent;
  border: none;
  border-radius: 3px;
  outline: none;
}
