@use '../../styles//mixin' as mixin;

.root {
  position: relative;
  z-index: mixin.$z_modal;
  width: min(90vw, 500px);
  max-height: 80vh;
  padding: 30px;
  background-color: mixin.$bgColor;
  border-radius: 5px;
}
