@use '../../../styles/mixin' as mixin;

.root {
  display: flex;
  gap: 20px;
  padding: 20px 20px;
  cursor: pointer;
  background-color: mixin.$whiteColor;
  border-radius: 3px;
  box-shadow: 0 2px 2px 2px #ccc6af;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.02);
  }

  &:focus {
    transform: scale(1.02);
  }

  @include mixin.mq() {
    flex-direction: column;
  }
}

.img {
  text-align: center;
}

.meta {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.title {
  font-size: mixin.rem(18);
  font-weight: bold;
}

.author {
  color: lighten(mixin.$mainTextColor, 20%);
}

.description {
  margin-top: 10px;

  @include mixin.mq() {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    overflow: hidden;
  }
}
