@use '../../../styles/mixin' as mixin;

.root {
  flex: 1;
}

.item {
  display: flex;

  &:not(:first-child) {
    margin-top: 10px;
  }

  > dt {
    width: clamp(120px, 15%, 150px);
    font-weight: bold;
  }

  > dd {
    flex: 1;
  }

  @include mixin.mq() {
    flex-direction: column;

    > dt {
      width: 100%;
    }
  }
}
