@use '../../styles//mixin' as mixin;

.root {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
}

.wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  background-color: mixin.$whiteColor;
  border: 1px solid mixin.$mainTextColor;
  border-radius: 3px;

  &:focus-within {
    border: 1px solid mixin.$primaryColor;
  }

  &::before {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    content: "";
    background-image: url("/icon/search.svg");
  }
}

.input {
  width: 100%;
  padding: 5px 8px;
  font-size: mixin.rem(18);
  background-color: transparent;
  border: none;
  border-radius: 3px;
  outline: none;
}

.btn {
  padding: 5px 20px;
  font-weight: bold;
  color: mixin.$whiteColor;
  background-color: mixin.$primaryColor;
  border: 3px solid mixin.$primaryColor;
  border-radius: 3px;
  outline: none;

  &:hover {
    color: mixin.$mainTextColor;
    background-color: mixin.$bgColor;
  }

  &:focus {
    color: mixin.$mainTextColor;
    background-color: mixin.$bgColor;
  }
}
