@use '../../styles//mixin' as mixin;

.root {
  min-width: 110px;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 3px;
  outline: none;

  &.read {
    background-color: mixin.$secondaryColor;
    border: 3px solid mixin.$secondaryColor;
  }

  &.want {
    background-color: mixin.$ternaryColor;
    border: 3px solid mixin.$ternaryColor;
  }

  &:hover {
    background-color: mixin.$bgColor;
  }

  &:focus {
    background-color: mixin.$bgColor;
  }

  &:disabled {
    cursor: not-allowed;
  }
}
