@use '../../styles//mixin' as mixin;

.root {
  padding: 30px 40px;
  margin-top: 40px;
  background-color: mixin.$whiteColor;
  border: 1px solid lighten(mixin.$mainTextColor, 50%);
  border-radius: 5px;
}
