@use '../../../styles/mixin' as mixin;

.item {
  &:not(:first-child) {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid lighten(mixin.$mainTextColor, 50%);
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: bold;
}

.date {
  font-size: mixin.rem(14);
  color: lighten(mixin.$mainTextColor, 20%);
}

.action {
  display: flex;
  gap: 15px;
  align-items: center;
}

.comment {
  margin-top: 10px;
}
