@use '../../../styles/mixin' as mixin;

.header {
  background-color: mixin.$headerBgColor;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

.title {
  font-size: mixin.rem(28);
  font-weight: bold;

  @include mixin.mq() {
    font-size: mixin.rem(22);
  }
}

.titleLink {
  display: block;
  padding: 4px 4px;
  border-radius: 3px;

  &:hover,
  &:focus {
    background-color: darken(mixin.$headerBgColor, 20%);
  }
}

.navList {
  display: flex;
  align-items: center;
}

.navItem {
  &:not(:first-child) {
    margin-left: 15px;
  }
}

.navLink {
  display: block;
  padding: 12px 12px;
  font-size: mixin.rem(18);
  font-weight: bold;
  border-radius: 3px;

  &:hover,
  &:focus {
    background-color: darken(mixin.$headerBgColor, 20%);
  }

  @include mixin.mq() {
    padding: 12px 6px;
    font-size: mixin.rem(16);
  }
}
